name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # Instala dependências de teste se não estiverem no requirements
        pip install pytest pytest-cov

    - name: Run Tests
      env:
        SECRET_KEY: "test_secret_key"
        ALGORITHM: "HS256"
        ACCESS_TOKEN_EXPIRE_MINUTES: "15"
        APP_USER: "test_user"
        APP_PASS: "test_pass"
      run: |
        pytest tests/ --cov=src --cov=app --cov-report=xml


