name: CI Pipeline

on:
  #push:
  #  branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip'

    - name: Instalar Dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # Instala dependências do pyproject.toml
        pip install -e .

    - name: Executar Testes
      env:
        SECRET_KEY: "test_secret_key"
        ALGORITHM: "HS256"
        ACCESS_TOKEN_EXPIRE_MINUTES: "15"
        APP_USER: "test_user"
        APP_PASS: "test_pass"
        PYTHONPATH: "."
      run: |
        python -m pytest --cov=src --cov=app --cov-report=term-missing tests/
